form {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 60%,#fff),linear-gradient(70deg,#dbedff 32%,#ebfff0);
}

header {
    
    text-align: center;
    background: #1975ff;
    color: white;
}

h2 {
    background: #1975ff;
    color: white;
}

.criteria, .laptop-choice {
    
    margin: 10px;
    text-align: center;
    height: 290px;

}

.form, .your-laptop {
    
    margin: 10px;
    text-align: center;
    height: 385px;
}

footer {
    
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:#1975ff;
    color: white;
    margin-top: 25px;
}

.results-list {
    
    text-align: center;
    margin: 10px;
    height: 385px;
    background: grey;
    color: white;
}

.compare-list {
    
    text-align: center;
    margin-top: 10px;
    background: grey;
    color: white;
}

#newegg, #bestbuy, #amazon {
    
    text-align: center;
    margin: 5px;
    height: 80px;
    background: grey;
    color: white;
}

/*====KEEPING-UNDER=======================================================*/

* {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

li {
    list-style: none;
    margin-right: 15px;
    background: white;

}

li:nth-child(odd) {
    background:beige;
}

#buffer {
    height: 75px;
}

@media screen and (max-width: 400px) {
    .main {
        font-size: 13px;
    }
    
    #full-laptop-image {
        height: 90%;
        width: 90%;
    }

    .selected {
        margin-bottom: 80px;
    }

}


