header {
    border: 1px solid black;
    text-align: center;
    background: grey;
    color: white;
}

.criteria, .laptop-choice {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    height: 290px;

}

.form, .your-laptop {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    height: 385px;
}

footer {
    border: 1px solid black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: grey;
    color: white;
    margin-top: 25px;
}

.results-list {
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    height: 385px;
    background: grey;
    color: white;
}

.compare-list {
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    background: grey;
    color: white;
}

#newegg, #bestbuy, #amazon {
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    height: 80px;
    background: grey;
    color: white;
}

/*====KEEPING-UNDER=======================================================*/
.hidden {
    display: none;
}

li {
    list-style: none;
    margin-right: 15px;
}

#buffer {
    height: 75px;
}

